<footer class="footer has-background-grey-lighter">
  <div class="address">
    <div class="columns">
      <div class="column">
        <section class="media">
          <figure class="media-left">
            <p class="image-is-64x64">
              <img src="img/intega-icon-only.png" alt="Intega IT">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Intega IT</strong>
                <br>
                <i class="fas fa-building"></i> 210-1900 Merivale Rd, Ottawa, ON K2G 4N4
                <br>
                <i class="fas fa-phone"></i> 613-260-1114


                <div class="copyright">
                  <strong>&copy; {{ now.Year }} Intega IT</strong>
                </div>
              </p>
            </div>
          </div>
        </section>
      </div>
      <div class="column is-three-fifths is-pulled-right">
        <div class="columns">
          <div class="column">
            <a href="#" class="link subtitle">Managed IT</a>
            <br>
            <a href="#" class="link">Why Intega?</a>
            <br>
            <a href="#" class="link">Outsourced IT for Business</a>
            <br>
            <a href="#" class="link">Support Your IT Department</a>
          </div>
          <div class="column">
            <a href="#" class="link subtitle">Our Solutions</a>
            <a href="#" class="link">Office 365 Migrations</a>
            <br>
            <a href="#" class="link">Backup and Disaster Recovery</a>
            <br>
            <a href="#" class="link">IT Security</a>
            <br>
            <a href="#" class="link">Hosting Solutions</a>
          </div>
          <div class="column">
            <a href="#" class="link subtitle">Meet Our Team</a>
            <a href="#" class="link">Our Problem Solvers</a>
            <br>
            <a href="#" class="link">Our Clients</a>
          </div>
          <div class="column">
            <a href="#" class="link subtitle">Contact Us</a>
            <br>
            <a href="#" class="link">Remote Support</a>
            <br>
            <a href="#" class="link">Get a Free Assessment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</footer>