<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a href="#" class="navbar-item">
        <img src="img/intega-logo-new.png" alt="{{ .Site.Title }}">
      </a>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a href="#" class="navbar-item">services</a>
      <a href="#" class="navbar-item">about us</a>
      <a href="#" class="navbar-item">contact us</a>
      <a href="#" class="navbar-item">support</a>
    </div>
  </div>
</nav>