<nav class="navbar is-transparent" role="navigation" aria-label="dropdown navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a href="#" class="navbar-item">
        <img src="img/intega-logo-new.png" alt="{{ .Site.Title }}">
      </a>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a href="#" class="navbar-link">Managed IT</a>
        <div class="navbar-dropdown">
          <a href="#" class="navbar-item">Why Intega?</a>
          <a href="#" class="navbar-item">Outsourced IT for Business</a>
          <a href="#" class="navbar-item">Support Your IT Department</a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a href="#" class="navbar-link">Our Solutions</a>
        <div class="navbar-dropdown">
          <a href="#" class="navbar-item">Office 365 Migrations</a>
          <a href="#" class="navbar-item">Backup and Disaster Recovery</a>
          <a href="#" class="navbar-item">IT Security</a>
          <a href="#" class="navbar-item">Hosting Solutions</a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a href="#" class="navbar-link">Meet Our Team</a>
        <div class="navbar-dropdown">
          <a href="#" class="navbar-item">Our Problem Solvers</a>
          <a href="#" class="navbar-item">Our Clients</a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a href="#" class="navbar-link">Contact Us</a>
        <div class="navbar-dropdown">
          <a href="#" class="navbar-item">Remote Support</a>
          <a href="#" class="navbar-item">Get a Free Assessment</a>
        </div>
      </div>
    </div>
  </div>
</nav>