<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head/metadata.html" . }}
  <title>{{ .Site.Title }}</title>
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"> {{ partial "head/prerender.html" . }}
</head>

<body>
  {{ partial "social-links.html" . }}
  <header class="container">
    {{ partial "navbar.html" . }}
  </header>
  <section class="hero is-medium has-bg-image">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-size-1 has-text-grey-lighter">Ottawa's Leading Managed IT Services Provider</h1>
        <h2 class="subtitle is-size-4 has-text-grey-lighter">You have IT problems. We have IT solutions.</h2>
        <a href="#" class="button is-large is-warning">Learn More</a>
      </div>
    </div>
  </section>
  <section class="container solutions">
    <h1 class="title is-size-2 has-text-centered">Solutions</h1>

    <div class="columns">
      <div class="column is-12 has-background-light has-border">
        <h3 class="subtitle is-size-4 has-text-centered">
          See what solutions we have to offer for your business
        </h3>
        <div class="columns">
          <div class="column is-one-third">
            <a href="#">
              <div class="sol-box">
                <img src="img/office365-edit.svg" alt="Office 365 logo" width="60" height="48">
                <i class="fas fa-arrow-right fa-2x"></i>
                <h3 class="title is-size-4">Office 365 Migrations</h3>
                <p>
                  As a Microsoft Silver Partner our certified experts implement Office 365 and other IT services across public, private, and
                  hybrid cloud environments.
                </p>

              </div>
            </a>
          </div>
          <div class="column is-one-third">
            <a href="#">
              <div class="sol-box">
                <i class="fas fa-laptop fa-4x"></i>
                <i class="fas fa-arrow-right fa-2x"></i>
                <h3 class="title is-size-4 solution-title">Managed IT Services</h3>
                <p>
                  Outsource your IT to the experts so you can focus on your day-to-day business needs.
                </p>

              </div>
            </a>
          </div>
          <div class="column is-one-third">
            <a href="#">
              <div class="sol-box">
                <i class="fas fa-server fa-4x"></i>

                <i class="fas fa-arrow-right fa-2x"></i>
                <h3 class="title is-size-4 solution-title">Disaster Recovery</h3>
                <p>
                  We take steps to ensure that backups are fully redundant. With both on and off-site solutions, we’ll supply tools and resources
                  to ensure your business continues with minimal interruption in the event of the unthinkable.
                </p>

              </div>
            </a>
          </div>
        </div>
        <h3 class="subtitle is-size-5 has-text-centered">Interested in what solutions we can offer your business?
          <a href="#" class="link">Contact us</a> for a free network assessment!</h3>
        <div class="has-text-centered">

          <a href="#" class="button is-large is-primary">Contact us</a>
        </div>
      </div>
    </div>

  </section>
  <section class="testimonials">
    <div class="container">
      <h1 class="title is-size-3 has-text-centered">What Our Clients Are Saying</h1>
      <!-- <h3 class="subtitle is-size-4 has-text-centered">See what our clients are saying about us</h3> -->
      <div class="carousel carousel-animated carousel-animate-slide">
        <div class="carousel-container">
          <div class="carousel-item is-active">
            <div class="is-padded has-border-left">
              <i class="fas fa-quote-left fa-2x"></i>
              <div class="quote is-size-5">
                Whether it’s helping us out to quickly replace a lost power cord, cleaning a desktop or sitting down with us to strategize
                on future IT needs, Intega IT has always stood up to our IT challenges and I’m so happy we’ve had them as
                our valued partner for all these years...
                <a href="#" class="read-more">Read more</a>
              </div>
              <div class="has-text-right">
                <i class="fas fa-quote-right fa-2x"></i>
              </div>
              <div class="media is-pulled-right">
                <div class="media-left client-logo">
                  <img src="img/cpaws-logo-white.png" alt="Canadian Parks and Wilderness Society">
                </div>
                <div class="media-content has-text-right">
                  <div class="quoter">
                    <strong>Éric Hébert-Daly, Executive Director</strong>
                    <br> Canadian Parks and Wilderness Society
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="is-padded has-border-left">
              <i class="fas fa-quote-left fa-2x"></i>
              <div class="quote is-size-5">
                After we signed with Intega IT they resolved the first issue within one hour – a problem our previous provider couldn’t fix.
                Intega IT has become our trusted IT Services partner...
                <a href="#" class="read-more">Read more</a>
              </div>
              <div class="has-text-right">
                <i class="fas fa-quote-right fa-2x"></i>
              </div>
              <div class="media is-pulled-right">
                <div class="media-left">
                  <img src="img/gencon-logo-small.png" alt="Gencon Capital Resources Inc">
                </div>
                <div class="media-content has-text-right">
                  <div class="quoter">
                    <strong>Gregory Scott, Chief Financial Officer</strong>
                    <br>Gencon Capital Resources
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="is-padded has-border-left">
              <i class="fas fa-quote-left fa-2x"></i>
              <div class="quote is-size-5">
                As my practice has grown, the importance of IT has become even more critical. I need to ensure that if the unthinkable happens,
                my business is protected and can be back up and operational the next day...
                <a href="#" class="read-more">Read more</a>
              </div>
              <div class="has-text-right">
                <i class="fas fa-quote-right fa-2x"></i>
              </div>
              <div class="media is-pulled-right">
                <div class="media-left">
                  <img src="img/e-legal-logo-small.png" alt="Daniel C. Fernandes Law Office">
                </div>
                <div class="media-content has-text-right">
                  <div class="quoter">
                    <strong>Daniel C. Fernandes, LL.B.</strong>
                    <br>Daniel C. Fernandes Law Office
                  </div>
                </div>
              </div>
              <!-- <div class="quoter has-text-right">
                <strong>Justen Kiehn</strong>
              </div>
              <div class="quoter-company has-text-right">O'Hara, Mitchell and Davis LLC</div> -->
            </div>
          </div>
        </div>
        <div class="carousel-navigation" style="margin-top: 1.5rem;">
          <div class="carousel-nav-left">
            <i class="fas fa-chevron-left fa-2x"></i>
          </div>
          <div class="carousel-nav-right">
            <i class="fas fa-chevron-right fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ partial "footer.html" . }} {{ partial "bottom-js.html" . }}
</body>

</html>